@model Modelo.Tabelas.Categoria
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Visualizando detalhes de uma categoria";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Dados da categoria a ser removida
    </div>

    <div class="panel-body">
   
        @Html.Partial("~/Views/Categorias/_PartialDetailsContentPanel.cshtml", Model)
    </div>

    <div class="panel-footer panel-info">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.CategoriaId)
            <div class="form-actions no-color">
                <input type="submit" value="Remover categoria" class="btn btn-danger" />
                @Html.ActionLink("Retornar para a listagem", "Index", null, new { @class = "btn btn-info" })
            </div>
        }
    </div>
</div>