@model Modelo.Tabelas.Categoria
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Visualizando detalhes de uma categoria";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        Visualizando detalhes de uma categoria
    </div>

        <div class="panel-body">
            @Html.Partial("~/Views/Categorias/_PartialDetailsContentPanel.cshtml", Model)
        </div>

        <div class="panel-footer panel-info">
            @Html.ActionLink("Alterar", "Edit", new { id = Model.CategoriaId },
            new { @class = "btn btn-info" })
            @Html.ActionLink("Retornar para a listagem", "Index", null,
            new { @class = "btn btn-info" })
        </div>
    </div>
    @Html.Partial("~/Views/Produtos/_PorModelo.cshtml", Model.Produtos.ToList(), new ViewDataDictionary { { "title", "Relação de PRODUTOS registrados para a categoria" }, { "categoria", true } })
